body {
	font-family: 'Roboto Condensed', sans-serif;   
}

p {   
 	color:#222;    
 	text-indent: 20px;        
}

.value {
	font-size: 800%;
}

span.label {
	vertical-align: top;
	padding-top: 1em;
	display: table-cell;
	padding-left: 3em;
	padding-right: 3em;
	font-size: 150%;
}

#temp .label {
	padding-top: 2em;
}

span.value {
	display: table-cell;
}

.labelledValue {
	display: table-row;
}

.valueContainer {
	display: table;
}

#setpoint .value{
	font-size: 400%;
}

#element .value{
	font-size: 400%;
}

#links {
	margin-left: 3em;
	margin-top: 2em;
}

a {
	padding: 1em;
	font-size: 16pt;
}

form {
	margin-left: 2em;
}
