<!DOCTYPE html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="static/style.css">
		 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		 <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		 <script type=text/javascript>
  				$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  				$(function() {
  					startRefresh();
  				});

  				function startRefresh() {
  					setTimeout(startRefresh, 1000);
  					$.getJSON($SCRIPT_ROOT + '/_refresh', null, 
  						function(data) {
							$("#tempValue").text(data.temp);
							$("#setpointValue").text(data.setpoint);
							$("#elementValue").text(data.element);
  						}
					);
				} 

				function updateSetpoint(sp) {
					alert(sp)
					$.get($SCRIPT_ROOT + '/_updateSetPoint/' + sp)
				}
				
			  	$(function() {
				    var spinner = $( "#spinner" ).spinner();
				    $( "#setvalue" ).click(function() {
				      updateSetpoint( "value" );
				    });
				    $( "button" ).button();
				  });

		</script>
		<title>Temperature</title>
	</head>

	<body>
		<div class="valueContainer">
			<div id="temp" class="labelledValue">
				<span class='label'>Current Temp</span>
				<span class='value'><span id="tempValue">{{ temp }}</span>&deg;F</span>
			</div>
			<div id="setpoint" class="labelledValue">
				<span class='label'>Setpoint</span>
				<span class='value'><span id="setpointValue">{{ setpoint }}</span>&deg;F</span>
			</div>
			<div id="element" class="labelledValue">
				<span class='label'>Element</span>
				<span class='value'><span id="elementValue">{{ element }}</span></span>
			</div>
		</div>
		<div id="links">
			<a href="javascript:updateSetpoint('153')">153&deg;F</a>
			<a href="javascript:updateSetpoint('155')">155&deg;F</a>
			<a href="javascript:updateSetpoint('140')">140&deg;F</a>
			<a href="javascript:updateSetpoint('80')">80&deg;F</a>
			<br />
			<input id="spinner" name="value">
			<button id="setvalue">Set</button>
		</div>

	</body>
</html>
